@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

body{
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}


header{
    
    position: absolute;
    top:30px;
    width: 90%;
    margin: 0 5%;
    padding: 20px ;
    box-sizing: border-box;
    background:#2c2c2c15;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.7);
}
.logo{
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
   
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight:900;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
nav{
    float:right ;

}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding:0;
    display: flex;

}
nav ul li{
    list-style: none;

}
nav ul li a{
    display: block;
    margin:10px 0;
    padding:10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav ul li a.active,
nav ul li a:hover{
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: -1px -1px 20px rgba(248, 250, 250, 0.952),
    1px 1px 20px rgba(248, 250, 250, 0.952) ;
}
@media(max-width:1200px)
{
   header{
       margin:20px;

   } 
}
@media(max-width:768px)
{
   .menu-toggle{
       display: block;
       width: 40px;
       height: 40px;
       margin:10px;
       background:rgba(204, 204, 204, 0.055);
       float: right;
       cursor: pointer;
       text-align: center;
       font-size: 30px;
       color: #ffffff;
       box-shadow: 0 2px 5px rgba(0,0,0,.7);
       z-index: 1;
   } 
   .menu-toggle:before{
       content: '\f0c9';
       font-family: fontAwesome;
       line-height: 40px;
   }
   .menu-toggle.active:before{
    content: '\f00d';
    font-family: fontAwesome;
    line-height: 40px;
}
   nav{
    display: none;
   }
   nav.active{
    display: block;
    width: 100%;
   }
   nav.active ul{
       display: block;
   }
   nav.active ul li{
    margin: 0;
}
}
.mid img{
   
    width: 100%;
    height: 100%;
}
.word{
    position: relative;
    height: 900px;
}
.image {
    height: 25%;
     width: 100%;
}
.mondstadt{
    background: url(./image/home_mondstadt.png) no-repeat center ;
}
.liyue{
    background: url(./image/home_liyue.png) no-repeat center ;
}
.inazuma{
    background: url(./image/home_ina.png) no-repeat center ;
}
.coming{
    background: url(./image/home_coming.png) no-repeat center ;
}

.mondstadt:hover{
    background-image: url(./image/home.png);
    z-index: 1;
    transition: 1.7s;
    
    
}
.liyue:hover{
    background-image: url(./image/home_liyue_hover.png);
    z-index: 1;
    transition: 1.7s;
    
}
.inazuma:hover{
    background-image: url(./image/home_ina_hover.png);
    z-index: 1;
    transition: 1.7s;
    
}
.footer{
    display: flex;
    min-height:40vh;
    justify-content: flex-end;
    align-items: flex-end;
  }
  footer{
    position: relative;
    width: 100%;
    background: #a171ee;
    min-height: 100px;
    padding:20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social_icon,
  footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  
  }
  footer .social_icon li,
  footer .menu li{
    list-style: none;
  
  }
  footer .social_icon li a{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin:0 10px;
    display: inline-block;
    transition: 0.5s;
    
  }
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin:0 10px;
    display: inline-block;
    opacity: 0.75;
    text-decoration: none;
  }
  footer .menu li a:hover{
  opacity: 1;
  }
  footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  footer .wave{
    position: absolute;
    top: -100px;
    left:0;
    width: 100%;
    height: 100px;
    background: url(./image/wave.png);
    background-size: 1000px 100px;
  }
  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  footer .wave#wave3{
    z-index: 1000;
    opacity:0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }
  footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
  @keyframes animateWave{
    0%{
      background-position-x: 1000px;
    }
    100%{
      background-position-x: 0px;
    }
  }
  @keyframes animateWave_02{
    0%{
      background-position-x: 0px;
    }
    100%{
      background-position-x: 1000px;
    }
  }
