@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&family=Coiny&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Charmonman:wght@700&display=swap');

body{
    position: relative;
    margin: 0;
    padding:0;
    font-family: 'Quicksand', sans-serif;
}


header{
    
    position: absolute;
    top:30px;
    width: 90%;
    margin: 0 5%;
    padding: 20px ;
    box-sizing: border-box;
    background:#2c2c2c15;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0,0,0,.7);
}
.logo{
    height: 60px;
    font-size: 36px;
    line-height: 60px;
    padding: 0 20px;
   
    text-align: center;
    box-sizing: border-box;
    float: left;
    font-weight:900;
    text-decoration: none;
}
.logo img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
}
nav{
    float:right ;

}
.clearfix{
    clear: both;
}
nav ul{
    margin: 0;
    padding:0;
    display: flex;

}
nav ul li{
    list-style: none;

}
nav ul li a{
    display: block;
    margin:10px 0;
    padding:10px 20px;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
}
nav ul li a.active,
nav ul li a:hover{
    /* background:#069370; */
    color: #ffffff;
    transition: 0.5s;
    text-decoration: none;
    text-shadow: -1px -1px 20px rgba(248, 250, 250, 0.952),
    1px 1px 20px rgba(248, 250, 250, 0.952) ;
}
@media(max-width:1200px)
{
   header{
       margin:20px;

   } 
}
@media(max-width:768px)
{
   .menu-toggle{
       display: block;
       width: 40px;
       height: 40px;
       margin:10px;
       background:rgba(204, 204, 204, 0.055);
       float: right;
       cursor: pointer;
       text-align: center;
       font-size: 30px;
       color: #ffffff;
       box-shadow: 0 2px 5px rgba(0,0,0,.7);
       z-index: 1;
   } 
   .menu-toggle:before{
       content: '\f0c9';
       font-family: fontAwesome;
       line-height: 40px;
}
   .menu-toggle.active:before{
    content: '\f00d';
    font-family: fontAwesome;
    line-height: 40px;
}
   nav{
    display: none;
   }
   nav.active{
    display: block;
    width: 100%;
   }
   nav.active ul{
       display: block;
   }
   nav.active ul li{
    margin: 0;
}
}
.mid{
   background: url(./image/mondstad_bg.jpg) no-repeat center;
   background-size: cover;
    width: 100%;
    height: 863px;
    top: 10px;   
}
/*---------------------- character------------------------------- */

.swiper {
    width: 100%;
    height: 100%;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }

  .swiper-slide img {
    width: 1000px;
    height: 660px;
    object-fit: cover;
  }

  .swiper {
    width: 60%;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
  }

  .swiper-slide {
    background-size: cover;
    background-position: center;
  }

  .mySwiper2 {
    height: 80%;
    width: 100%;
  }

  .mySwiper {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0;
  }

  .mySwiper .swiper-slide {
    width: 10%;
    height: 92px;
    opacity: 0.4;
    
  }
  

  .mySwiper .swiper-slide-thumb-active {
    opacity: 1;
    height: 87px;
    border:3px solid rgb(15, 15, 15);
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
.char{
    width: 95%;
    height: 800px;
    position: relative;
    top:130px;
    z-index: 1;
    left: 12%;
}
.slide{
    position: relative;
    top:-93px
}
@font-face {
    font-family: Mermaid;
    src: url(./Fonts/mermaid1001.ttf);
}
.name
{
    font-size: 80px;
    font-family: Mermaid;
}
.intro{
    border-radius: 25px;
    background-color: rgba(255, 255, 255, 0.412);
}
.hoa{
   
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-color: rgba(253, 253, 253, 0.603);
    color: rgb(240, 15, 15);
}
.thuy{
    
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-color: rgba(253, 253, 253, 0.603);
    color: rgb(0, 81, 255);
}
.bang{
  
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-color: rgba(253, 253, 253, 0.603);
    color: rgb(97, 192, 247);
}
.phong{
   
    border-top-left-radius: 20px ;
    border-bottom-right-radius: 20px ;
    background-color: rgba(253, 253, 253, 0.603);
    color: rgb(0, 209, 157);
 
}
button{
    font-weight: 700;
    font-size: 20px;
    color: rgb(0, 0, 0);
    width: 150px;
    height: 50px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    background: linear-gradient(90deg,#646464,#5a5a5a);
    border-radius: 25px;
    border:none;
   
   

}
button:hover{
    box-shadow: -1px -3px 30px rgba(248, 250, 250, 0.952),
    1px 3px 10px rgba(248, 250, 250, 0.952) ;

    background: linear-gradient(-90deg,#f8f8f8,#fafafa);
    transition: 0.5s;
}
/* -----------------footer-------------- */
.footer{
  position: relative;
    display: flex;
    min-height:27.5vh;
    justify-content: flex-end;
    align-items: flex-end;
  }
  footer{
    position: relative;
    width: 100%;
    background: #a171ee;
    min-height: 100px;
    padding:20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  footer .social_icon,
  footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  
  }
  footer .social_icon li,
  footer .menu li{
    list-style: none;
  
  }
  footer .social_icon li a{
    font-size: 2em;
    color: rgb(255, 255, 255);
    margin:0 10px;
    display: inline-block;
    transition: 0.5s;
    
  }
  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }
  footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin:0 10px;
    display: inline-block;
    opacity: 0.75;
    text-decoration: none;
  }
  footer .menu li a:hover{
  opacity: 1;
  }
  footer p {
    color: #fff;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.5em;
  }
  footer .wave{
    position: absolute;
    top: -100px;
    left:0;
    width: 100%;
    height: 100px;
    background: url(./image/wave.png);
    background-size: 1000px 100px;
  }
  footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
  }
  footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
  }
  footer .wave#wave3{
    z-index: 1000;
    opacity:0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
  }
  footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave_02 3s linear infinite;
  }
  @keyframes animateWave{
    0%{
      background-position-x: 1000px;
    }
    100%{
      background-position-x: 0px;
    }
  }
  @keyframes animateWave_02{
    0%{
      background-position-x: 0px;
    }
    100%{
      background-position-x: 1000px;
    }
  }
